
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} New post {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="post-creation-form">
  <form method="POST">
    {% csrf_token %}
    <fieldset>
      <div>
        <div class="header">Title</div>
        <input type="text" name="title" />
      </div>
      <div>
        <div class="header">Content</div>
        <textarea name="content" cols="30" rows="10"></textarea>
      </div>
      <input
        type="text"
        name="author_name"
        value="{{ user.username }}"
        style="display: none;"
      />
      <button type="submit">Create post</button>
    </fieldset>
  </form>
</div>
{% endif %}
<style>
.control-label {
  font-size: 24px;
}

input {
  width: 600px;
  margin: 10px 0;
}

textarea {
  --textarea-width: 600px;
  --textarea-height: 200px;
  box-sizing: border-box;
  margin: 10px 0;
  width: var(--textarea-width);
  min-width: var(--textarea-width);
  max-width: var(--textarea-width);
  height: var(--textarea-height);
  min-height: var(--textarea-height);
}

button {
  margin: 8px 0;
}

.header {
  font-size: 24px;
}

.post-creation-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
</style>
{% endblock %}