{% extends 'base.html' %}

{% block title %} Posts {% endblock %}
{% block content %}
  {% if user.is_authenticated %}
  <div>
    <form method="POST">
      {% csrf_token %}
      <input type="text" required name="title">
      <textarea name="content" required cols="30" rows="10"></textarea>
      <button type="submit">Create post</button>
    </form>
  </div>
  {% endif %}
  {% if sortedPostsByPublicationDate %}
    {% for post in sortedPostsByPublicationDate %}
      <a href="{% url 'posts:specifiedPost' post.id %}">
        <div>
          <div>{{ post.title }}</div>
          <p>{{ post.content }}</p>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <div>No posts published! 😔</div>
  {% endif %}
{% endblock %}