{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Posts {% endblock %}
{% block content %}
<div style="margin: 20px 40px;">
  <div class="posts-container">
    {% if sortedPostsByPublicationDate %}
      {% for post in sortedPostsByPublicationDate %}
        <a class="post-link-container" href="{% url 'posts:specifiedPost' post.id %}">
          <div class="post">
            <h1 class="post__title">{{ post.title }}</h1>
            <p class="post__content">{{ post.content }}</p>
          </div>
        </a>
        <div class="post-limiter"></div>
      {% endfor %}
    {% else %}
      <div>No posts published! 😔</div>
    {% endif %}
  </div>
</div>
<style>
.posts-container {
  box-sizing: border-box;
  width: 800px;
  margin: auto;
}

.post-link-container {
  color: black;
}

.post {
  padding: 16px 12px;
}

.post__title {
  font-size: 40px;
  text-align: center;
  padding: 8px 0;
}

.post__content {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-limiter {
  border-bottom: 1px solid #adadad;
  margin: 16px 0;
}

.post:hover {
  background-color: #f1f1f1;
  transition: background-color 0.1s ease-in-out;
}

.post:not(:hover) {
  transition: background-color 0.1s ease-in-out;
}
</style>
{% endblock %}