{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="specified-post-page">
  <div class="post">
    <h1 class="post__title">{{ post.title }}</h1>
    <p class="post__content">{{ post.content }}</p>
    <div class="post__info">
      <div>Author: <span><b>{{ post.author_name }}</b></span></div>
      <em>{{ post.publication_date }}</em>
    </div>
  </div>
  <div class="specified-post-comment-form">
    {% if user.is_authenticated %}
      <form action="{% url 'posts:leaveComment' post.id %}" method="POST">
        {% csrf_token %}
        <input 
          type="text"
          name="author-name"
          autocomplete="off"
          value="{{ user.username }}"
          style="display: none;"
        />
        <textarea
          required
          name="comment"
          placeholder="Write a comment here"
          cols="30"
          rows="10"
        ></textarea>
        <button type="submit">Leave comment</button>
      </form>
    {% endif %}
  </div>
  <div class="post-comments">
    {% if comments %}
      {% for comment in comments %}
        <div class="post-comment">
          <div class="post-comment__author-name">{{ comment.author_name }}</div>
          <div class="post-comment__date"><em>{{ comment.publication_date }}</em></div>
          <p class="post-comment__text">{{ comment.text }}</p>
        </div>
      {% endfor %}
    {% else %}
      <div class="no-comments-block">There are no comments yet! 😟</div>
  </div>
</div>
{% endif %}
<style>
textarea {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  min-height: 300px;
}

button {
  margin: 12px 0;
}

.specified-post-page {
  margin: auto;
  width: 800px;
  padding: 20px 40px;
}

.post {
  margin: 20px 0;
}

.post__title {
  font-size: 40px;
  text-align: center;
  padding: 8px 0;
}

.post__content {
  font-size: 20px;
}

.post__info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 12px 0;
}

.post-comment {
  box-sizing: border-box;
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1.8px solid #2d8eff;
}

.post-comment__author-name {
  font-size: 20px;
  font-weight: 500;
}

.post-comment__text {
  font-size: 18px;
}

.post-comment__date {
  font-size: 12px;
  padding: 4px 0;
}

.no-comments-block {
  font-size: 28px;
  text-align: center;
  margin: 40px 0;
}
</style>
{% endblock %}